{% extends "base.html" %}
{% load static %}

{% block title %} Expenses detail {% endblock %}

{% block content %}
	<link rel="stylesheet" type="text/css" href="{% static 'expenses/style.css' %}">
	<script src="{% static 'expenses/lodash.min.js' %}"></script>
	<script src="{% static 'expenses/numeral.min.js' %}"></script>

	<div id="expense-page">

		<i class="fas fa-bars float-left"></i>
		<i class="fas fa-ellipsis-v float-right"></i>
		<div class="title">
			<strong class="title-text">FAMEX</strong>
		</div>
		
		<div class="row user-balance-container">
			<div class="col-6 no-padding">
				<h5>Hi, ${ firstname }</h5>
				<i class="fas fa-user-circle" style="font-size: 40px"></i>
			</div>
			<div class="col-6 no-padding">
				<div>
					<balance-detail 
						v-for="item in Object.keys(balance)"
						:item="item"
						:currency="currency"
						:balance="balanceText"></balance-detail>
				</div>
			</div>
		</div>

		<!-- This is vue component -->
		<blog-post title="Take a note your daily expenses here!"></blog-post>

		<p><strong>Expenses </strong></p>
		<table class="table">
			<thead>
				<tr>
					<th>Date</th>
					<th>Time</th>
					<th>Detail</th>
				</tr>
			</thead>
			<tbody class="table-striped">
				<tr v-for="expense in expenses">
					<td>${expense.date}</td>
					<td>${expense.time}</td>
					<td>${expense.detail}</td>
				</tr>
			</tbody>
		</table>


	</div>
	
	<!-- Load vue component like this -->
	<script src="{% static 'expenses/components/BalanceDetail.vue' %}"></script>
	<script src="{% static 'expenses/components/RecordInput.vue' %}"></script>
	<script>
		const user = {{ user | safe }}
		const expenses = {{ expenses | safe }}
		const balance = {{ balance | safe }}
		const newBalance = _.omit(balance[0].fields, ['user', 'currency'])

		let vm = new Vue({
			delimiters: ['${', '}'],
			el: '#expense-page',
			data: {
				firstname: capitalizeFirstLetter(user[0].fields.firstname),
				lastname: capitalizeFirstLetter(user[0].fields.lastname),
				currency: balance[0].fields.currency,
				balance: newBalance,
				balanceText: numberValuesToStringWithThousandsSeparator(newBalance),
				inputType: 'expense',
				categoryItems: ['food', 'clean', 'transport'],
				expenses: expenses.map(expense => {
					const date = new Date(expense.fields.date)
					return ({
						date: date.toLocaleDateString(),
						time: date.toLocaleTimeString(),
						detail: expense.fields.expense_detail,
					})
				}),
			},
			components: {
				BalanceDetail,
			},
			methods: {
				changeInputType: function () {
					if (this.inputType === 'expense') {
						this.inputType = 'income'
					} else {
						this.inputType = 'expense'
					}
				}
			},
			mounted() {

			}
		})

		function capitalizeFirstLetter (word) {
			return word.charAt(0).toUpperCase() + word.slice(1)
		}

		function numberValuesToStringWithThousandsSeparator (object) {
			return Object.keys(object).reduce(function(obj, key) {
				const value = object[key]
				if (typeof value === 'number') {
					return {
						...obj,
						[key] : numeral(object[key]).format('0,0')
					}
				}
				return obj
			}, {})
		}
		
	</script>
{% endblock %}

		
